@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

.bar{
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #e66465, #eb1121);
  margin-bottom: 20px;
}